<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://github.com/visali1263"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a></span></li>
                    <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://www.linkedin.com/in/visali-v-8b4968200/"><i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i></a></span></li>
                    <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="mailto:visalivallu@gmail.com"><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></a></span></li>
                </ul>
                <p class="text-muted copyright">Copyright © Visali's Tech Blog 2023</p>
            </div>
        </div>
    </div>
</footer></div><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script><script src="/assets/js/script.min.js?h=80968ef307c80000b880fb8551c2671c"></script></body></html> 