<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=330b07301e4f620af2d2384c2c7d2d0e">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="/assets/css/styles.min.css?h=b187d93b2d99fd83cafc158a10abaeef">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Visali's Blog</a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive"><ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About me</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact me</a></li>
            <li class="nav-item"><a class="nav-link" href="https://visali1263.github.io/visali-s_portfolio/#hero">My_Portfolio</a></li></ul></div></div>
        </nav>