<%- include("partials/header"); -%>
<!DOCTYPE html><html lang="en">
    <title>Visali's Blog - About</title>
    <body>
                            <header class="masthead" style="background-image: url('assets/img/about-bg.jpg?h=ca94606afe09dc1190c07f9b89d907e7');">
                                <div class="overlay"></div>
                                <div class="container"><div class="row"><div class="col-md-10 col-lg-8 mx-auto position-relative"><div class="site-heading">
                                    <h1>About Me</h1><span class="subheading">This is what I do</span></div></div></div></div></header>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 col-lg-8 mx-auto">
                                                <p><b>Hello, fellow tech aficionados!</b></p>
                                                    <p>I'm a passionate computer science student, eager to dive deep into the captivating realm of algorithms and programming. With a thirst for knowledge and a love for logical problem-solving, I embrace the intricate world of coding languages, data structures, and software development.</p>
                                                    <p>This blog is a reflection of my journey, where I'll share insights, tips, and experiences garnered from my studies and projects. Join me as we explore the limitless possibilities of computer science, unraveling complex concepts, and unlocking the power of code.</p>
                                                    <p><i><b>Let's embark on this exciting adventure together, one line of code at a time.</b></i></p>
</div></div></div><hr>
<%-include("partials/footer")-%>