<%- include("partials/header"); -%>
<!DOCTYPE html><html lang="en">
    <title>Visali's Blog - Post</title>
    <body>
                    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg?h=9232f64c28954a7976ad46a6de71bf79');">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                                    <div class="post-heading">
                                        <h1>Github Student Developer pack !!!</h1>
                                        <span class="meta">Posted by&nbsp;<a href="#">Start Bootstrap</a>&nbsp;on May 24, 2023</span></div></div></div></div></header><article><div class="container">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8 mx-auto">
                                                    <p>So, if you are a student and want to create amazing software for free, head on to <a href="https://education.github.com/pack">https://education.github.com/pack</a>.
                                                    </p>
                                                    <p>With your institution mail id, you can claim whopping benefits from various services.
                                                        Some of them are:</p>
                                                        <ul>
                                                            <li>3 domain names (.me, .tech, .codes, .games TLD)</li>
                                                            <li>Half a dozen of premium cloud services (Heroku, DigitalOcean, Microsoft Azure, etc)</li>
                                                            <li>Professional IDE's</li>
                                                            <li>Paid Online Courses for free</li>
                                                        </ul>
                                                        <p><b>Psst!! This will be helpful for building your portfolio website too.As I have mentioned in earlier blog posts.</b></p>
                                                    <figure><blockquote class="blockquote">
                                                        <p class="mb-0">Start where you are. Use what you have. Do what you can :-)</p>
                                                    </blockquote>
                                                </figure>

                                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script><script src="assets/js/script.min.js?h=80968ef307c80000b880fb8551c2671c"></script></body></html>
                                                <%- include("partials/footer"); -%>