<%- include("partials/header"); -%>
<!DOCTYPE html><html lang="en">
    <title>Visali's Blog - Post</title>
    <body>
                    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg?h=9232f64c28954a7976ad46a6de71bf79');">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                                    <div class="post-heading">
                                        <h1>How to build a portfolio website ?</h1>
                                        <span class="meta">Posted by&nbsp;<a href="#">Visali</a>&nbsp;on May 26, 2023</span></div></div></div></div></header><article><div class="container">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8 mx-auto">
                                                    <p>Portfolio is very important today. 
                                                        When recruiting for a desired job, it may turn out to be even more important than a CV. Why? Because the portfolio is the best evidence of your skills, which is very important to your employer! 
                                                        However, how and where to create a professional portfolio?</p>
                                                        <p><b>Don't worry I am here for you to help :) Here are few tips that I follow</b></p>
                                                        <ul>
                                                            <li>Keep the design and layout of your portfolio simple. Try to ensure that the document looks professional and does not come across as a casual compilation of your work.</li>
                                                            <li>Share information in an organised and systematic manner. This improves readability for viewers and helps them retain more.
                                                            </li>
                                                            <li>Get your portfolio reviewed by peers and other professionals. A third person's perspective may be crucial to identifying areas for improvement.
                                                            </li>
                                                        </ul>
                                                        <p>If you forget to chekout my <a href="https://visali1263.github.io/visali-s_portfolio/#hero">portfolio</a> do check it out guysss.It will be helpful for you to build one :)</p>
                                                    <figure><blockquote class="blockquote">
                                                        <p class="mb-0">Start where you are. Use what you have. Do what you can :-)</p>
                                                    </blockquote>
                                                </figure>

                                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script><script src="assets/js/script.min.js?h=80968ef307c80000b880fb8551c2671c"></script></body></html>
                                                <%- include("partials/footer"); -%>