<%- include("partials/header"); -%>
<!DOCTYPE html><html lang="en">
    <title>Visali's Blog - Post</title>
    <body>
                    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg?h=9232f64c28954a7976ad46a6de71bf79');">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                                    <div class="post-heading">
                                        <h1>How to get internship from IIT Indore ?</h1>
                                        <span class="meta">Posted by&nbsp;<a href="#">Start Bootstrap</a>&nbsp;on Apr 15, 2023</span></div></div></div></div></header><article><div class="container">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8 mx-auto">
                                                    <p>In our institution we have to do our internship from the 1st year itself which sounds weird for you guys but I did my online paid internship with mentoring and a e-certificate too from IIT Indore !!!!!.</p>
                                                    <p>You may wonder and ask how ?</p>
                                                    <p>This internship was recommended by one of my seniors and sharing with you guys because why not? I did this internship during covid time lockdown where all the process are online and I did this internship online in artificial intelligence and machine learning domain and there are various domains you can checkout in the given link below.
                                                        after choosing your domain choose the mentor and get consent from them by mailing to them.
                                                    </p>
                                                    <p>Another important note is that you have to choose the mentors quickly as they won't select student beyond their stipulated strength.</p>
                                                    <p>once you got the consent you will get to start the intern.</p>
                                                    <p>Now the good news is that they have both online and offline too.</p>
                                                    <p>You can checkout the link guys!!</p>
                                                    <b><a href="https://iiti.ac.in/page/summer-internship-introduction">https://iiti.ac.in/page/summer-internship-introduction</a></b>
                                                    <b><a href="http://people.iiti.ac.in/~sdhina/index.php/internshippositions-2">http://people.iiti.ac.in/~sdhina/index.php/internshippositions-2</a></b>
                                                    <figure><blockquote class="blockquote">
                                                        <p class="mb-0">Start where you are. Use what you have. Do what you can :-)</p>
                                                    </blockquote>
                                                </figure>

                                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script><script src="assets/js/script.min.js?h=80968ef307c80000b880fb8551c2671c"></script></body></html>
                                                <%- include("partials/footer"); -%>